/*--------------------------------------------------------------
  Footer Section
--------------------------------------------------------------*/

footer {
    background-color: #1E4670;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    color: white;
}

#footer-icons {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-right: 1em;
    padding-top: 1em;
}

#footer-icons:hover {
    transform: scale(1.2);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

.text-bold {
    font-weight: 700;
}

