/*--------------------------------------------------------------
  Contact Section
--------------------------------------------------------------*/


.contact-section{
    background: #0D0D0D;
    padding: 1.75em;
}

.contact-section h1{
    text-align: center;
    color: white;
}


#contactForm input, textarea{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid #ccc5b9;
    margin-top: 10px;
    resize: none;
    background-color: #0D0D0D;
}

#contactForm h3{
    color: white;
    font-weight: bold;
    text-align: start;
}

#contactform-submitbtn {
    background-color: #0D0D0D;
    color: whitesmoke;
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 35px;
}

#contactform-submitbtn:hover {
    color: #004582;
}

textarea{
    border: 1px solid #ccc5b9;
    height: 100px;
    border-radius: 10px;
}

#whatsapp-icon {
    width: 45px;
    position: fixed; 
    bottom: 10px; 
    left: 10px; 
    z-index: 1000;
}

@media (min-width: 768px) {
    .dark-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}