.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #262525;
  color: whitesmoke;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.dash-logo {
  width: 35px;
}

.notifications-icon {
  transition: transform 0.3s ease;
}

.notifications-icon:hover {
  content: url('https://img.icons8.com/external-kiranshastry-solid-kiranshastry/55/004582/external-menu-multimedia-kiranshastry-solid-kiranshastry-1.png');
  transform: scale(1.1); 
}

.notifications-dropdown {
  position: fixed;
  top: 1;
  right: 0;
  bottom: 1;
  left: 0;
  height: 70%;
  margin: 1em;
  color: whitesmoke;
  background: #1D1D1D;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
  overflow-y: auto;
  scrollbar-color: #1D1D1D #1D1D1D; 
  scrollbar-width: thin; 
}


.notifications-dropdown::-webkit-scrollbar {
  width: 8px; 
}

.notifications-dropdown::-webkit-scrollbar-track {
  background: #1D1D1D; 
  border-radius: 10px; 
}

.notifications-dropdown::-webkit-scrollbar-thumb {
  background: #1D1D1D; 
  border-radius: 10px; 
}

.notifications-dropdown::-webkit-scrollbar-thumb:hover {
  background: #1D1D1D; 
}

.dashboard-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0em 1em;
  background: #1D1D1D; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
}

.current-datetime {
   color: whitesmoke;
}

.dashboard-tabs {
  margin-bottom: 80px;
}

.dashboard-option-1,
.dashboard-option-2, 
.dashboard-option-3,
.dashboard-option-4{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: auto;
  color: whitesmoke;
  background: #1D1D1D; 
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}


.dashboard-option-4 {
  text-align: center;
  height: 250px;
}


.weather-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-text {
  color: #004582;
}
.dashboard-option-2, 
.dashboard-option-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  transition: transform 0.3s ease;
}

.dashboard-option-1:hover,
.dashboard-option-2:hover, 
.dashboard-option-3:hover{
  transform: scale(1.05); 
}

.icon-text {
  font-weight: 800;
  font-display: swap;
  color: whitesmoke;
}

.dashtab-divider {
  display: flex;
  gap: 10px;
}


.dash-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.welcome-user {
  font-size: 18px;
}

.user-text, h2{
  font-size: 24px;
}

.option-text {
  font-size: 1.25em;
}

.weather-content {
  text-align: start;
  font-weight: 600;
}



@media (min-width: 768px) {
  .dashboard-option-1 {
    display: none;
  }

  .dashboard-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .dashtab-divider {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 500px;
    gap: 0px;
  }

  .dashboard-option-2,
  .dashboard-option-3 {
      height: 150px;
  }


  .dashboard-option-4 {
    margin-top: 50px;
    height: 360px;
  }

  .dashboard-option-1:hover,
  .dashboard-option-2:hover, 
  .dashboard-option-3:hover{
    transform: scale(1.01); 
  }

}
