.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  color: white;
  margin: 0;
}

.dash-logo {
  width: 40px;
}

.notifications-icon {
  transition: transform 0.3s ease;
}

.notifications-icon:hover {
  transform: scale(1.2); 
  content: url('https://img.icons8.com/external-creatype-outline-colourcreatype/40/004582/external-alarm-essential-ui-v2-creatype-outline-colourcreatype-2.png');
}

.notifications-dropdown {
  position: fixed;
  top: 1;
  right: 0;
  bottom: 1;
  left: 0;
  height: 70%;
  margin: 1em;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow-y: auto;
  scrollbar-color: #fff #E5E5E5; /* Thumb color and track color */
  scrollbar-width: thin; /* Thin scrollbar */
}

/* Style the scrollbar for WebKit-based browsers */
.notifications-dropdown::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.notifications-dropdown::-webkit-scrollbar-track {
  background: #444; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.notifications-dropdown::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.notifications-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.dashboard-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0em 1em;
  background-color: #FFFFFF;
  color: black;
  margin: 1em;
  border-radius: 10px;
}

.current-datetime {
   padding: 0em 1em;
   color: black;
}

.dashboard-tabs {
  padding: 1em;
  margin-bottom: 80px;
}

.dashboard-option-1,
.dashboard-option-2, 
.dashboard-option-3,
.dashboard-option-4{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: auto;
  color: black;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 1.5em;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.7);
  transition: transform 0.3s ease;
}


.dashboard-option-4 {
  text-align: center;
  height: 250px;
}


.weather-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004582;
  gap: 10px;
}
.dashboard-option-2, 
.dashboard-option-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 2px rgba(182, 182, 182, 0.3);
  transition: transform 0.3s ease;
}

.dashboard-option-1:hover,
.dashboard-option-2:hover, 
.dashboard-option-3:hover,
.dashboard-option-4:hover{
  transform: scale(1.05);
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.1), inset -6px -6px 12px rgba(255, 255, 255, 0.7); 
}

.icon-text {
  font-weight: 800;
  font-display: swap;
  color: #004582;
}

.dashtab-divider {
  display: flex;
  gap: 10px;
}


.dash-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon::before {
  cursor: pointer;
}

.notification-icon:hover,
.notification-icon:active {
  content: url('https://img.icons8.com/external-glyph-silhouettes-icons-papa-vector/35/adb5bd/external-Notifications-interface-glyph-silhouettes-icons-papa-vector.png');
}

.user-text, h2{
  font-size: 24px;
}

.option-text {
  font-size: 1.25em;
}

.weather-content {
  text-align: start;
  font-weight: 600;
}



@media (min-width: 768px) {
  .dashboard-option-1 {
    display: none;
  }

  .dashboard-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: auto;
  }

  .dashtab-divider {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 500px;
    gap: 0px;
  }

  .dashboard-option-2,
  .dashboard-option-3 {
      height: 150px;
  }


  .dashboard-option-4 {
    margin-top: 50px;
    width: 90%;
    height: 350px;

  }

  .dashboard-option-1:hover,
  .dashboard-option-2:hover, 
  .dashboard-option-3:hover,
  .dashboard-option-4:hover{
    transform: scale(1.01); 
  }

}
